@import "../reminder/reminder-colors.scss";

.reminder {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 1px 4px;
  height: 22px;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  cursor: pointer;

  & span {
    flex-grow: 1;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 14px;
  }

  &:hover .delete-btn {
    display: block;
  }

  & .delete-btn {
    display: none;
    width: 14px;
    height: 14px;
  }

  & .mat-icon {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  &.none {
    border: solid $none-border 1px;
  }
}

// ----------- MEDIA -----------
@media (max-width: 640px) {
  .reminder {
    padding: 3px 2px;
    font-size: 12px;
    hyphens: auto;
    line-height: 90%;

    &:hover .delete-btn {
      display: none;
    }
  }
}