<div class="reminder" [ngClass]="reminder.color">
  <h2 mat-dialog-title>{{ reminder.text }}</h2>
  <mat-dialog-content>
    <div class="time-info">
      <span>
        {{ reminder.date | date: "dd/MM/yyyy" }}
      </span>
      <span>
        {{ reminder.time }}
      </span>
      @if (!showWeatherInfo && reminder.city) {
      <span>
        {{ reminder.city }}
      </span>
      }
    </div>
    @if (showWeatherInfo) {
    <mat-divider></mat-divider>
    <app-weather-info [city]="reminder.city" [dateTime]="reminder.date + ' ' + reminder.time"></app-weather-info>
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="close(true)">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button mat-button (click)="close(false)">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
    <button mat-button mat-dialog-close cdkFocusInitial>
      Close
    </button>
  </mat-dialog-actions>
</div>