<div class="reminder-form-container">
  <h2 mat-dialog-title>
    @if (isEditMode) {
    Edit reminder
    } @else {
    New reminder
    }
  </h2>

  <mat-dialog-content>
    <form [formGroup]="reminderForm" class="reminder-form">
      <mat-form-field class="form-field">
        <mat-label>Description *</mat-label>
        <input matInput type="text" formControlName="text" maxlength="30" />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          @for (color of colors; track color) {
          <mat-option [value]="color">
            {{ color | titlecase }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <app-city-picker [required]="false" [defaultSelectedCity]="reminder.city"
        (selectedCity)="onSelectedCityChanges($event)"></app-city-picker>

      <app-time-picker [defaultSelectedTime]="reminder.time"
        (onSelectedTime)="onSelectedTimeChanges($event)"></app-time-picker>

      <div class="date-section">
        <app-calendar-table [mini]="true" [defaultSelectedDate]="reminder.date || selectedDate"
          (onSelectedDate)="onSelectedDateChanges($event)"></app-calendar-table>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-actions">
    <button mat-button [mat-dialog-close]="true">Cancel</button>
    <button mat-flat-button color="primary" [disabled]="reminderForm.invalid" (click)="onSaveReminder()">
      Save
    </button>
  </mat-dialog-actions>
</div>