<section class="weather-section">
  @if (isLoading) {
  <span class="load-status">{{ loadStatus }}</span>
  } @else {
  <div class="weather-info">

    <span>
      <img [src]="weather.iconUrl" [alt]="weather.description" class="forecast-image" />
    </span>

    <span>
      <span class="city-name">{{ city }}</span>
      <br />
      {{ weather.tempMin }}°
      <br />
      <small class="w-description">
        {{ weather.description }}
      </small>
      <small class="forecast-info">
        @if (weather.isForecast) {
        Weather forecast
        } @else {
        No weather forecast available for this date. <br />
        Showing today's weather
        }
      </small>
    </span>

  </div>
  }
</section>