.weather-section {
  padding-top: 10px;
  height: 110px;
}

.load-status {
  font-size: 14px;
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    font-size: 1.2rem;

    & .city-name {
      text-transform: capitalize;
    }

    & .w-description {
      font-size: 0.9rem;
    }

    & .forecast-info {
      font-size: 0.7rem;
      font-style: italic;
      display: block;
      line-height: 0.7rem;
    }

    & .forecast-image {
      filter: drop-shadow(0px 0px 2px #888);
    }
  }

  & span:last-child {
    flex-grow: 1;
  }
}