<section class="weather-section">
  <span *ngIf="!weather">{{ loadStatus }}</span>
  <div class="weather-info" *ngIf="weather">
    <span>
      <span class="city-name">{{ city }}</span>
      <br />
      {{ weather.tempMin }}°
      <br />
      <small class="w-description">
        {{ weather.description }}
      </small>
      <small *ngIf="!weather.isForecast" class="forecast-info"
        >No weather forecast available for this date. <br />
        Showing today's weather</small
      >
      <small *ngIf="weather.isForecast" class="forecast-info"
        >Weather forecast</small
      >
    </span>
    <span>
      <img src="{{ weather.iconUrl }}" alt="Icon {{ weather.description }}" />
    </span>
  </div>
</section>
