<div class="calendar" [class.mini-calendar]="mini" [class.big-calendar]="!mini">
  <div class="calendar-info">
    <button type="button" mat-mini-fab color="primary" (click)="onChangeCalendarMonth(false)" title="Previous month">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <span>{{ momentToDate(currentCalendarMonth) | date: "MMMM, yyyy" }}</span>

    <button type="button" mat-mini-fab color="primary" (click)="onChangeCalendarMonth(true)" title="Next month">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>

  @if (!mobileQuery.matches || mini) {
  <ul>
    @for (day of weekDays; track day) {
    <li>
      <span>
        {{ day }}
      </span>
    </li>
    }
  </ul>
  }

  @if (mobileQuery.matches && !mini) {
  <ul>
    @for (day of shortWeekDays; track day) {
    <li>
      <span>
        {{ day }}
      </span>
    </li>
    }
  </ul>
  }

  <ol>
    @for (day of calendarDays; track day;let idx = $index) {
    <li [style.gridColumnStart]="(idx === 0) ? day.dayInWeek + 1 : 'auto'"
      [class.selected-day]="day.date === selectedDateStr" [class.today]="day.isToday" [class.weekend]="day.isWeekEnd"
      (click)="onSelectedDateChanges(day.date)">
      <span>
        {{ day.dayInMonth }}
      </span>

      @if (!mini) {
      <app-calendar-day [reminders]="day.reminders"></app-calendar-day>
      }

    </li>
    }
  </ol>
</div>